# Dependencies (Frontend & Backend)
node_modules/
frontend/node_modules/
.pnp
.pnp.js

# Virtual Environments (Python)
.venv/
venv/
ENV/
env/

# Python Cache & Compiled Files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Testing & Coverage
/coverage

# Production & Builds
/build
frontend/build/
dist/

# Local Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs & System Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db